body {
    max-width: 1400px;
    margin: 0 auto;
}

header {}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: rgb(207, 207, 207) 2px solid;
}

.logo img {

    width: 60%;
    height: auto;
    max-width: 400px;
    margin-left: 10%;
    margin-right: 10%;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    text-decoration: none;
    width: 10%;
}



.logo p {
    width: 10%;
    height: auto;
}

.maincontact {
    background-color: rgb(240, 240, 240);
    padding: 60px 0px;
    display: flex;
    justify-content: center;
}

.list-contact {
    background-color: white;
    width:calc(100% - 20px);
    padding: 10px;
    border-radius: 25px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.contact {
    display: flex;
    justify-content: center;;
    background-color: rgb(240, 240, 240);
    box-shadow: rgb(219, 219, 219) 3px 5px 10px;
    margin: 40px 10px;
    width: 95%;
    padding: 10px;
    border-radius: 25px;
    max-height: 70px;
    
}



.contact i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 45px;
    border-radius: 25%;
    animation: rotation 1s;


}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@keyframes apparition {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}


.contact p {
    font-family: 'Shrikhand', cursive;
    display: flex;
    align-items: center;
    width: 280px;
    padding: 0px 10px;
    margin-right: 30px;
    font-size: 18px;
    word-break: break-all;
    animation: apparition 3s;

}



.insta {
    
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.fb {
    background: #3B5998;
    color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    
}

.email {
    background: #000000;
    color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}




footer {
    background-color: rgb(70, 70, 70);
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

footer span {
    font-size: 40px;
    color: white;
    font-family: 'Shrikhand', cursive;
}

footer img {
    padding: 10px;
    width: 40%;
    max-width: 200px;
}


footer a {
    width: 100%;
    padding: 5px;
    margin: 0;
    color: white;
    text-decoration: none;
}

